<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYnoDH981M_gkl8vYb_gQxpb0-9ZinMuA</string>
	<key>GCM_SENDER_ID</key>
	<string>840165776707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careTaker</string>
	<key>PROJECT_ID</key>
	<string>care-e9611</string>
	<key>STORAGE_BUCKET</key>
	<string>care-e9611.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840165776707:ios:d25f25827ffad64b2fe3f6</string>
</dict>
</plist>