<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840165776707-nqfc8ci6sab8muvi52ub13n5vdhblb57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840165776707-nqfc8ci6sab8muvi52ub13n5vdhblb57</string>
	<key>API_KEY</key>
	<string>AIzaSyBYnoDH981M_gkl8vYb_gQxpb0-9ZinMuA</string>
	<key>GCM_SENDER_ID</key>
	<string>840165776707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caretaker</string>
	<key>PROJECT_ID</key>
	<string>care-e9611</string>
	<key>STORAGE_BUCKET</key>
	<string>care-e9611.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840165776707:ios:6579c1a7ec682b242fe3f6</string>
</dict>
</plist>